    @font-face {
    font-family: 'Copperplate Gothic Std 33 BC';
    font-style: normal;
    font-weight: normal;
    src: local('Copperplate Gothic Std 33 BC'), url('Copperplate-Gothic-Std-33-BC.woff') format('woff');
    }
